/*Profile CSS*/
.logo {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 75px;
}

body {
  font-family: Rubik, Arial;
}

form {
  text-align: center;
  line-height: 30px;
  height: 80%;
  overflow: auto;
}

form hr {
  width: 15%;
}

h1 {
  text-align: center;
}

#overlay {
  width: 80%;
  margin: 3% auto;
  height: 95vh;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 40px;
}

.toppings label, .cheesy label {
  margin-right: 25px;
}


p {
    margin: 0px 120px 0px;
    font-size: 30px;
    text-align: center;

}
  
body {

  margin: 0;
}
  
span {
  font-weight: bold;
  color: black;
  font-size: 55px;
}
 
nav {
  position: sticky;
  top: 0;
  background-color: SPRINGGREEN;
  display: flex;
  flex-direction: row;
  justify-content: space-around;    
}
  
nav a {
  text-align: center;
  text-decoration: none;
  display: block;
  color: white;
  padding: 25px;
  font-size: 25px;
  border-color: black;
  border-style: solid;
  border-left-style: none;    
  border-width: 1.5px;
  width:100%;
}  
nav a:hover {
  background-color: limegreen;
}
 
#active {
  background-color: steelblue;
}
  
@media screen and (max-width: 600px) {
  nav {
    position: static;
    flex-direction: column;
  }

  nav a {
    text-align: center;
  }
}
  
/*General CSS ends here*/

aside {
  border: 5px dotted blue;
}
  
/*nice*/
section {
  border: dotted blue;
  font-size: 28px;
  text-align: center;
}
  
#content {
  display: table;
  width: 90%;
  margin: 20px auto
}
  
@media screen and (max-width:768px) {
  box {
    display: block
  }
}

ul {
  border: 1px solid #555;
}
/* overwriting starts here */
table
{
	margin-left: auto;
	margin-right: auto;
  border: 3px solid black;
  border-collapse: collapse;
}

th,  td
{
  border: 3px solid black;
  padding: 20px 100px;
  margin-bottom: 10px;
  font-size: 30px;
}

.profile-picture {
  height: 30%;
  width: 30%;
}

.profile {
  text-align: center;
}

