/* Homepage CSS */

.topnav {
	background-color: #030303;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: white;
	color: black;
}

.topnav a.active {
	background-color: lightgrey;
	color: black
}